<div class="grid-container">
  <div class="column item1">
    <div class="font-big bold">
      {{movie.title}}
    </div>
    <img src="{{movie.imageUrl}}">
  </div>
  <div class="column item2 margin-top">
    <div class="font-medium bold">Description:</div>
    <div>{{movie.description}}</div>
    <div class="font-medium bold">Rating:</div>
    <div>{{movie.rating}}</div>
    <ng-container *ngIf="movie.trailer">
      <div class="font-medium bold">Trailer:</div>
      <iframe [src]="movie.trailer.replace('watch?v=', 'embed/') | safe"
              allowfullscreen>
      </iframe>
    </ng-container>
  </div>
</div>
