img {
  height: 700px;
  width: auto;
}

.item1 { grid-area: left; }
.item2 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'left right right';
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
}

iframe {
  height: 100%;
  width: 100%;
}

.margin-top {
  margin-top: 52px;
}
